
.content {

    grid-area: c;
    background-color: #ffcde0;

}

.post {
    font-weight: 700;
    font-stretch: ultra-expanded;

}

.content img {
    font-style: unset;
    width: 500px;
}

.item {
    color: deepskyblue;
}

.active {
    font-size: medium;
    font-style: oblique;
}