.nav {
    font-weight: 900;

    grid-area: n;
    background-color: aqua;
    text-decoration: none;
}

.friends {
    color: deeppink;
    font-family: "Bodoni MT", serif;
}

.item {
    color: darkmagenta;
    text-decoration: none;
}

.active {
    color: blue;
    font-stretch: extra-condensed;
}

.gridContainer {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr;
    gap: 1px 1px;
    grid-template-areas: "dsrrrdrgr grdgd grdr";
    text-decoration: none;
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}
.item a.activeLink{
    color: orchid;
    text-decoration: none;
}

