.dialogs {
    display: flex;
    flex-flow: column nowrap;
}
.dialogsContainer {
    display: flex;
    flex-flow: row nowrap;
}

/*.dialogs{*/
/*    display: grid;*/
/*    height: max-content;*/
/*    padding:20px;*/

/*    grid-template-columns:2fr 2fr;*/
/*    grid-gap: 10px;*/
/*    border: deeppink;*/
/*    color: orchid;*/
/*}*/
.item {
    color: blue;
}
.dialogsItems{
    color: deeppink;
}

.messages{
    color:deepskyblue;
    font-style: italic;
    flex: 1 1 auto;
}
