.dialogs {
    display: flex;
    flex-flow: column nowrap;

}
.dialogsContainer {
    display: flex;
    flex-flow: row nowrap;
}
.newFlex{
    align-self: flex-end;
}
.item {
    color: blue;
}
.dialogsItems{
    color: deeppink;
}

.messages{
    color:cornflowerblue;
    font-style: italic;
}
